#main div.contact_form,
#content div.contact_form {
	width: 360px;
	margin: 0px auto;
}

.sidebar div.contact_form {
	width: auto;
}

div.cf_field {
	text-align: left;
	margin: .5em 0px;
}

div.cf_send {
	text-align: center;
}

input.cf_field {
	width: 95%;
}

textarea.cf_field {
	width: 96%;
	height: 160px;
	overflow-y: visible;
}

.sidebar .contact_form /* = sidebar widget */ {
	margin-left: 0px;
	margin-right: 0px;
}

.sidebar textarea.cf_field {
	height: 120px;
}

.cf_success {
	border: solid 1px #282;
	background: #efe;
	color: #282;
	padding: 1em;
}

.cf_error {
	border: solid 1px #b11;
	background: #fee;
	color: #b11;
	padding: 1em;
}